---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero-section.astro";
import { Image } from "astro:assets";
import adsImage from "../components/images/businessimg.jpg";
import Target from "../components/icons/target.astro";
import Footer from "../components/footer.astro";
import alphajoe from "../components/images/alp.jpeg"
import kingee from "../components/images/kingee.jpeg"
import fresh from "../components/images/Frest Logo_page-0001.jpg"
import dna from "../components/images/new1.jpeg"
import nkv from "../components/images/new2.jpeg"
import repro from "../components/images/repro.jpeg"
import Anchu from "../components/images/rst1024_1.png"
import Search from "../components/icons/search.astro";
import Consult from "../components/icons/consult.astro";
import Connect from "../components/icons/connect.astro";
import Briefcase from "../components/icons/briefcase.astro";
import Bulb from "../components/icons/bulb.astro";

---

<Layout title="homepage">
  <main>
    <section>
      <HeroSection />
    </section>

    <section class="cards">
      <div class="cards-grid">
      <div class="card-business">
        <div class="service-icon">
          <Briefcase />
        </div>
        <div class="section-para">
          <h4>SOURCING PROCUREMENT AND BRANDING</h4>
         
          <!-- <button><a href="services.html#business" style="color:orange; text-decoration: none;">Read more</a></button> -->
        </div>
      </div>
      

      <div class="card-business">
        <div class="service-icon">
          <Briefcase />
        </div>
        <div class="section-para">
          <h4>TRAINING & DEVELOPMENT</h4>
         
         
        </div>
      </div>
    

      <div class="card-business">
        <div class="service-icon">
          <Briefcase />
        </div>
        <div class="section-para">
          <h4>HUMAN RESOURCE OUTSOURCING</h4>
         
         
        </div>
      </div>
     
      
      <div class="card-business">
        <div class="service-icon">
          <Briefcase />
        </div>
        <div class="section-para">
          <h4>PROPOSAL DRAFTING</h4>
         
         
        </div>
      </div>
    </div>

    <div class="card-text">
    <div>
      <p>Where Ideas Meet Strategy</p>
      <p>Unlocking Growth Strategies for Business Excellence</p>
      <button><a href="/contact">Get in touch</a></button>
    </div>
    </div>
    </section>

    {/*Welcome text */}
    <section class="wrapper">
      

      {/** Ads*/}
      <section class="explore">
        <div class="explore-title">
          <p>About us</p>
      
        </div>
      <div class="explore-section">
        <div class="explore-section__image">
          <h3>Elevate Your Business with Expert Guidance</h3>
          <div class="explore-vision__section">

            <div class="explore-vision">
              <div class="explore-icon"><Target/></div>
              <div>
                <p>Our Mission</p>
                <p>
                  To support businesses and organizations of varying size, structure, and maturity across diverse sectors,  to enhance business and organization's performance; optimization of growth to achieve exceptional results.
                </p>
                </div>
            </div>


            <div class="explore-vision">
                <div class="explore-icon"><Bulb/></div>
                <div>
                  <p>Our Vision</p>
                 <p>To work with ambitious leaders of companies and organizations from around the globe who want to define the future; leveraging our experience and expertise in mobilizing for change, navigating uncertainty, to enable them to achieve sustained and profitable growth.</p> 
                </div>
            </div>
          </div>
        </div>
        <div class="explore-section__text">
          <Image
            src={adsImage}
            width={600}
            height={400}
            alt="illustration of a man walking up a staircase with a victory flag at the end"
            quality={100}
          />
        </div>
      </div>
    </section>

      {/*Services */}
      <section class="service-section">
        <div class="service-section-margin">
        <div class="service-header">
          <p>Our services</p>
          <p>Innovative Solutions, Unparalleled Services</p>
          <p>
            Our management services focus on our client's most critical issues and opportunities: strategy, marketing, organization, operations, technology, transformation, research, digital, advanced analytics, mergers& acquisitions, and sustainability across all industries and geographies
          </p>
      </div>
        <div class="service-card">
          <div class="service-card__business">
            <div class="service-icon__service">
              <Briefcase />
            </div>
            <div class="section-para">
            <h4>BUSINESS DEVELOPMENT & MANAGEMENT</h4>
            <p>Our management services focus on our client's most critical issues and opportunities</p>
            <button><a href="services.html#business" style="color:orange; text-decoration: none;">Read more</a></button>
          </div>
           
          </div>

          <div class="service-card__business">
            <div class="service-icon__service">
              <Search />
            </div>
            <div class="section-para">
            <h4>RESEARCH</h4>
            <p>Our approaches on every project are with the rigor and dedication needed to deliver</p>
            <button><a href="services.html#research" style="color:orange; text-decoration: none;">Read more</a></button>
          </div>
         
          </div>

          <div class="service-card__business">
            <div class="service-icon__service">
              <Connect />
            </div>
            <div class="section-para">
            <h4>NETWORKING</h4>
            <p>We work on several projects at different companies, single- and multi-client settings, often</p>
            <button style=""><a href="services.html#networking" style="color:orange; text-decoration: none;">Read more</a>
            </button>
          </div>
           
          </div>

          <div class="service-card__business">
            <div class="service-icon__service">
              <Consult />
            </div>
            <div class="section-para">
            <h4>NGO CONSULTING</h4>
            <p>We are committed to designing and implementing programs to create long-lasting, meaningful</p>
            <button style=""><a href="services.html#ngo" style="color:orange; text-decoration: none;">Read more</a></button>
           
          </div>
       
          </div>
        </div>
      </div>
      </section>


      

      


    {/*Clients */}
    <section class="client-section">
      <div class="client-section__margin">
      <div class="client-section__header">
        <p>Our clients</p>
        <p>Trusted by</p>
      </div>
      <div class="client-section__logo">
        <div>
          <Image
            src={alphajoe}
            width={250}
            height={200}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
        <div>
          <Image
            src={kingee}
            width={120}
            height={100}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
        <div>
          <Image
            src={repro}
            width={150}
            height={100}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
        <div>
          <Image
            src={dna}
            width={180}
            height={100}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
        <div>
          <Image
            src={nkv}
            width={250}
            height={100}
            alt="illustration of a woman making a presentation to a man both seated"
            quality={100}
          />
        </div>
        <div>
          <Image
            src={fresh}
            width={200}
            height={200}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
        <div>
          <Image
            src={Anchu}
            width={180}
            height={150}
            alt="illustration of a woman making a presentation to a man both seated"
          />
        </div>
      </div>
    </div>
    </section>

    {/** Get in touch*/}
    <section class="getintouch">
      <div class="getintouch-margin">
      <p>Get in touch with us</p>
      <p>Empowering You with Solutions: Contact Us for Excellence</p>
      <button><a href="/contact">Contact us</a></button>
    </div>
    </section>

      {/*Testimonials */}
      <section class="testimonial">
        <div class="testimonial-margin">
        <div class="testimonial-title">
          <p>Testimonials</p>
          <p>What people say about us</p>
        </div>
        <div class="testimonial-cards">
        <div>
          <p>
           
          Paracletworld Service Limited is a true partner in our growth journey. Their commitment to our success is evident in the results we've achieved together. Exceptional service!"
          </p>
          <p><cite> - Mr Denis Akunbiyi</cite></p>
        </div>
        <div>
          <div>
            <p>
              "From financial management to strategic planning, Paracletworld Service Limited offers a comprehensive suite of services. They've become an invaluable asset to our organization."
            </p>
            <p><cite> - Mr Victor Ehenaro</cite></p>
          </div>
        </div>
        <div>
          <div>
            <p>
              "Choosing Paracletworld Service Limited was one of the best decisions we made for our business. Their innovative solutions have given us a competitive edge in the market."
            </p>
            <p><cite> - Alphajoe Global Limited</cite></p>
          </div>
        </div>
        


      </div>
      </div>
      </section>
    </section>
    
    <Footer />
  </main>
</Layout>

<style>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }


  main {
    width: 100vw;
    height: 100vh;

  }

  /* .wrapper {
    margin: 150px auto;
    width: 80vw;
  } */

  .cards{
    position: relative;
    width: 100vw;
    height: 70%;
    background-color: #f4f4f4;


  }

  .cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 10vw;
    z-index: 999;
  }

  .card-business{
    padding: 20px;
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    gap:20px;
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08); */
    position: relative;
    overflow: hidden;
    background-color: white;
  }

  .card-business:nth-child(1){
    border-right:2px solid #f4f4f4;
  }

  .card-business:nth-child(2){
    border-right:2px solid #f4f4f4;

  }

  .card-business:nth-child(3){
    border-right:2px solid #f4f4f4;
  }

  .card-business:nth-child(4){
   
  }

  .card-text{
    position: absolute;
    bottom: 50px;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    left: 10vw;
    gap:40px;
    padding-bottom: 10px;



    & div {
    width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     gap:20px;
       
      & p:nth-child(2){
        font-size: 36px;
        color: darkblue;
        font-weight: 700;
        width: 50%;
        text-align: center;
      }

      & button{
        padding: 16px 20px;
      border: none;
      font-size: 16px;
      font-weight: 800;
      background-color: orange;
      color: black;
      border-radius: 20px;
      width: 15%;
      }

      & button a {
        text-decoration: none;
        color: black;
      }
    }

  }


  .service-section {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 150px;
    gap:60px;
    background-color:#f4f4f4;
    padding: 70px 0;


  }

  .service-section-margin{
    width: 80vw;
      margin:0 auto;
  }

  .service-header {
    width: 100%;
    gap:40px;
    display: flex;
    flex-flow:column;
    color:black;
  }

  .service-header p:nth-child(2) {
    font-size:36px;
    font-weight: 700;
    color: darkblue;
    position: relative;
    width: 40%;
  }


  .service-header p:nth-child(3) {

    color: black;

    width: 80%;
    margin-bottom: 60px;
  }


  

  .service-card {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    
  }


  .service-card__business:hover{
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  }

.service-card__business > div {
  display: flex;
  justify-content:start;

}

.service-icon{
  padding:20px;
  border-radius:50%;
  background-color:rgba(72,61,139, 0.08);
  width: 39%;
}


.service-icon__service{
  padding:20px;
  border-radius:20px;
  background-color:rgba(72,61,139, 0.08);

}


.service-card__business .section-para{
  display: flex;
  flex-flow:column;
  gap:20px;
  justify-content: start;
  text-align: left;

}


.service-card__business {
    padding: 20px;
    display:flex;
    flex-flow: row;
    justify-content:space-between;
    gap:20px;
    border-radius: 20px;
  
    position: relative;
    overflow: hidden;
    background-color: white;
 
   

    & button{
      border:none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      color: orange;
      cursor: pointer;
      text-align: left;
    }

  
  }
  
  .explore{
  
    display: flex;
    flex-flow: row wrap;
     margin: 150px auto;
    width: 80vw;
  } 

  .explore-title{
    & p:first-child {
      margin-bottom: 40px;
    }

  }

.explore-vision{
  display: flex;
  gap:20px;

  & p:first-child{
    margin-bottom: 10px;
    font-weight: 600;
  }


}

.explore-vision__section{
  display: flex;
  flex-flow: column;
  gap:40px;
}


 
   

  .explore-section {
    display: flex;
    width: 100%;
   justify-content: space-between;
   gap: 40px;


  }


  .explore-section__image {
    width: 50%;
    color:black;

    & h3 {
      font-size:36px;
      margin-bottom: 40px;
      font-weight: 700;
      color: darkblue;
    }
  }

  .explore-section__text {
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
  }

  .explore-icon{
    padding:20px;
  border-radius:50%;
  background-color:rgba(72,61,139, 0.08);
height: 40%;

  }



  .client-section {
    display: flex;
    flex-flow: column;
  }

  .client-section__margin{
    margin: 150px auto;
    width: 80vw;

  }

  .client-section__logo {
    display: flex;
    flex-flow: row;
    margin-top: 60px;
    justify-content:start;
    align-items: center;
    overflow-x:scroll ;
    gap:60px;
  }

  .client-section__header{

    & p:nth-child(2) {
      font-size: 36px;
      font-weight: 700;
      margin-top: 40px;
      color: darkblue;
    }
  }



  .getintouch{
    background-color: #f4f4f4;
    padding: 70px 0;
  }

  .getintouch-margin{
    width: 80vw;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:20px;



    & p:nth-child(2){
      font-size:36px;
      width: 60%;
      justify-self: center;
      font-weight: 700;
      color: darkblue;
    }

    & button{
        padding: 16px 20px;
      border: none;
      font-size: 16px;
      font-weight: 800;
      background-color: orange;
      color: black;
      border-radius: 20px;
      width: 15%;
      }


      & button a {
        text-decoration: none;
        color: black;
      }
  }



  .testimonial{
    margin: 150px 0;
    display: flex;
    flex-flow:column;
   
  }

  .testimonial-title{
    

    & p:nth-child(2) {
      font-size:36px;
      margin-top: 40px;
      font-weight: 700;
      color: darkblue;
  
    }
  }



  .testimonial-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 60px;
    gap:20px;

  & div {
    display: flex;
    flex-flow: column;
    gap:10px;
    border-radius: 20px;
    line-height: 1.6;

    & p:nth-child(2){
      font-weight:bold;
      color: grey;
    }
  }
   
  }

  .testimonial-cards > div{
    border:1px solid #f4f4f4;
    padding:30px;
    position:relative;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  }

  .testimonial-cards > div::after {
    content: "â";
    font-size: 40px;
    position: absolute;
    top:-25px;
    background-color:white;
    color: #c4c4c4;
    width: 50px;
    height: 35px;
    text-align: center;
   
  }


  .testimonial-margin{
    margin:0 auto;
    width:80vw;
  }





  {/*Media queries */}

  @media screen and (max-width: 800px) {



  .card-business:nth-child(1){
    border-bottom:2px solid #f4f4f4;
  }

  .card-business:nth-child(2){
    border-bottom:2px solid #f4f4f4;

  }

  .card-business:nth-child(3){
    border-bottom:2px solid #f4f4f4;
  }

  .cards{
    height: 100%;
  }

  .cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 87vw;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 6.5vw;
    z-index: 999;
  }


  .card-text{
display: none;
  }


  .client-section__margin{
    margin: 0px auto;
    width: 100%;

  }

  

  .client-section__logo {
    display: flex;
    flex-flow: row;
    margin-top: 60px;
    justify-content:center;
    align-items: center;
    gap:40px;
    overflow-x: scroll;
  }




  .client-section{
    margin: 150px 24px;
  }

  .service-header {
    width: 100%;
    gap:40px;
    display: flex;
    flex-flow:column;
    color:black;
  }



  .service-card__business {
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-flow: column;
    
   
  }

  .service-card__business > div {
  justify-content:center;
}

.service-section-margin{
    width: 87vw;
    margin: ;
    
    
  }


  .service-section {
    display: flex;
    flex-flow: column wrap;
    margin: 150px 0px;
    width: 100%;


    & .service-card {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    & .service-header{
      width: 100%;
    }
  }


  .service-header p:nth-child(2) {
  
    width: 100%;
  }


  .service-header p:nth-child(3) {

    color: black;

    width: 100%;
    margin-bottom: 60px;
  }

  .service-icon{
  padding:20px;
  border-radius:50%;
  background-color:rgba(72,61,139, 0.08);
  width: 29%;
}


.explore{
  
  display: flex;
  flex-flow: row wrap;
 
  width: 100vw;
} 

  
   .explore-section{
    display: flex;
    flex-flow: column wrap;
    padding: 24px;
    gap:40px;
  } 

  .explore{
  
  display: flex;
  flex-flow: column wrap;
   
} 

  .explore-section__image {
    
    width: 100%;
  
  }

  .explore-section__text {
    width: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .explore-title{
    margin: 0 24px 0px 24px;
  }

  .getintouch{}

  .getintouch-margin{
    width: 87vw;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:20px;



    & p:nth-child(2){
 
      width: 100%;

    }

    & button{
      width: 50%;
      }

  }



  .testimonial{
    margin: 150px 24px;
    display: flex;
    flex-flow:column;
   
  }

  .testimonial-margin{
    margin:0 auto;
    width:87vw;
  }

  .testimonial-cards{
    gap:60px;
  }


    .wrapper {
    margin: 0;
    width: 100%;
  }
  }





  @keyframes translation {
    0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
  }
</style>
