---
import Layout from "../layouts/Layout.astro";
import alphajoe from "../../public/img/alp.jpeg";
import kingee from "../../public/img/kingee.jpeg";
import fresh from "../../public/img/Frest Logo_page-0001.jpg";
import dna from "../../public/img/new1.jpeg";
import nkv from "../../public/img/new2.jpeg";
import repro from "../../public/img/repro.jpeg";
import Anchu from "../../public/img/rst1024_1.png";
import Alliance from "../../public/img/alliance log.jpeg";
import { Image } from "astro:assets";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
import gsap from "gsap";
---

<Layout title="homepage">
  <main>
    <section class="mainbg">
      <div class="container mx-auto">
        <div>
          <Nav />
        </div>

        <!-- Header -->
        <section class="flex md:flex-row flex-col gap-16 md:pt-20 pt-40 pb-[100px] mx-6 md:mx-0">
          <div class="md:w-1/2 text-white space-y-10 h-full">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Worldclass consultancy service
              </p>
            </div>
            <h1 class="md:text-[2.6rem] text-[2rem] font-bold">
              We connect businesses with fresh perspectives and innovative minds.
            </h1>
            <p class="text-wrap text-justify">
              Your vision, our expertise, collective action. We guide your organization's journey
              towards a sustainable future, step-by-step, hand in hand with passionate partners and
              stakeholders.
            </p>
            <a href="/about" class="flex">
              <button
                type="button"
                class="buttonstyle px-[1.8rem] py-[1rem] font-semibold rounded-full bg-[rgb(237,189,7)]"
                >Read more</button
              ></a
            >
          </div>
          <div class="picbg md:w-1/2 w-full"></div>
        </section>
      </div>
    </section>

    <!-- Who we are -->
    <section class="whowebg py-[100px]">
      <div class="container mx-auto md:mt-0">
        <div class="mx-6 md:mx-0">
          <div class="flex flex-col gap-10 text-white">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Who we are
              </p>
            </div>
            <h2 class="text-[2.3rem]">Enpowering business growth</h2>
          </div>
          <div class="flex flex-col md:gap-0 gap-10 mt-10">
            <div class="flex md:flex-row flex-col md:gap-0 gap-10 items-center">
              <div
                class="imgbg2 text-white p-10 gap-10 w-full h-full justify-center order-1 md:order-none"
              >
              </div>
              <div class="flex flex-col justify-center w-full h-full gap-6 md:p-0 text-white">
                <h2 class="text-[28px] md:px-10">Our mission</h2>
                <p class="text-justify md:px-10">
                  To support businesses and organizations of varying size, structure, and maturity
                  across diverse sectors, to enhance business and organization's performance;
                  optimization of growth to achieve exceptional results.
                </p>
              </div>
            </div>

            <div class="flex md:flex-row flex-col md:gap-0 gap-10 items-center">
              <div class="imgbg text-white w-full h-full justify-center order-1"></div>
              <div class="flex flex-col justify-center w-full h-full gap-6 md:p-10 text-white">
                <h2 class="text-[28px]">Our Vision</h2>
                <p class="text-justify">
                  To work with ambitious leaders of companies and organizations from around the
                  globe who want to define the future; leveraging our experience and expertise in
                  mobilizing for change, navigating uncertainty, to enable them to achieve sustained
                  and profitable growth.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- service -->
    <section class="servbg py-[100px]">
      <div class="mx-auto container">
        <div class="mx-6 md:mx-0">
          <div class="flex flex-col gap-10 text-white">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Our services
              </p>
            </div>
            <h2 class="text-[2.3rem] mb-10 md:w-[60%]">
              Catalyzing growth through exceptional services
            </h2>
          </div>

          <div class="flex md:flex-row flex-col gap-6 text-white">
            <div class="serv1 md:w-1/2 w-full flex flex-col justify-between p-6 gap-10 md:gap-0">
              <div class="flex z-10">
                <p
                  class="flex font-Kumbh border border-white/30 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
                >
                  Training and Development
                </p>
              </div>
              <div class="flex justify-between items-end relative z-20">
                <h3 class="text-[24px] w-[80%]">
                  Tailor-made training workshops for both individuals and organizations
                </h3>
                <a href="services.html#service">
                  <span
                    class="h-10 w-10 bg-white flex items-center justify-center rounded-full text-black font-bold spanhov"
                    >↗</span
                  ></a
                >
              </div>
            </div>

            <div class="md:w-1/2 space-y-6">
              <div class="serv2 md:w-1/2 flex flex-col justify-between p-6 gap-10 md:gap-0">
                <div class="flex z-10">
                  <p
                    class="flex font-Kumbh border border-white/30 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
                  >
                    NGO Consulting
                  </p>
                </div>
                <div class="flex justify-between items-end z-10">
                  <h3 class="text-[24px] w-[80%]">
                    Program Development, Implementation and Evaluation
                  </h3>
                  <a href="services.html#ngo">
                    <span
                      class="spanhov h-10 w-10 bg-white flex items-center justify-center rounded-full text-black font-bold"
                      >↗</span
                    ></a
                  >
                </div>
              </div>

              <div class="serv3 w-1/2 flex flex-col justify-between p-6 gap-10 md:gap-0">
                <div class="flex">
                  <p
                    class="z-10 flex font-Kumbh border border-white/30 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
                  >
                    Human Resource Outsourcing
                  </p>
                </div>
                <div class="flex justify-between items-end z-10">
                  <h3 class="text-[24px] w-[80%]">
                    Outsourcing part of your HR duties can significantly reduce company costs
                  </h3>
                  <a href="services.html#resource">
                    <span
                      class="spanhov h-10 w-10 bg-white flex items-center justify-center rounded-full text-black font-bold"
                      >↗</span
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- getintouch -->
    <section class="getbg py-[100px]">
      <div class="mx-auto container text-white">
        <div class="mx-6 md:mx-0">
          <div class="flex flex-col gap-10 justify-center items-center">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Get in touch with us
              </p>
            </div>
            <h2 class="text-[2.3rem] text-center md:w-2/3 w-full">
              Empowering You with Solutions: Contact Us for Excellence
            </h2>
            <a href="/contact">
              <button
                type="button"
                class="buttonstyle px-[1.8rem] py-[1rem] font-semibold rounded-full bg-[rgb(237,189,7)]"
                >Get in touch today</button
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- clients -->
    <section class="clientbg py-[100px]">
      <div class="mx-auto container">
        <div class="mx-6 md:mx-0">
          <div class="flex flex-col gap-10 text-white">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Some of our clients
              </p>
            </div>
            <h2 class="text-[2.3rem] mb-10">Trusted by</h2>
          </div>
          <div class="flex overflow-auto gap-10">
            <Image
              src={alphajoe}
              width={150}
              height={100}
              alt="alphajoe logo"
              class="w-full h-[5rem] rounded"
            />

            <Image
              src={kingee}
              width={100}
              height={100}
              alt="kingee logo"
              class:list="h-[5rem] rounded"
            />

            <Image
              src={Alliance}
              width={100}
              height={100}
              alt="Alliance logo"
              class="h-[5rem] rounded"
            />

            <Image src={dna} width={100} height={100} alt="dna logo" class="h-[5rem] rounded" />

            <Image src={fresh} width={100} height={100} alt="fresh logo" class="h-[5rem] rounded" />

            <Image src={nkv} width={150} height={100} alt="nkv logo" class="h-[5rem] rounded" />

            <Image src={repro} width={100} height={100} alt="repro logo" class="h-[5rem] rounded" />

            <Image src={Anchu} width={150} height={100} alt="Anchu logo" class="h-[5rem] rounded" />
          </div>
        </div>
      </div>
    </section>

    <!--  Testimonial-->
    <section class="testibg py-[100px]">
      <div class="mx-auto container">
        <div class="mx-6 md:mx-0">
          <div class="flex flex-col gap-10 text-white">
            <div class="flex">
              <p
                class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
              >
                Testimonials
              </p>
            </div>
            <h2 class="text-[2.3rem] mb-10">What our clients say about us</h2>
          </div>
          <div class="grid grid-cols-[repeat(auto-fit,minmax(30ch,1fr))] gap-6 relative quote">
            <div
              class="bg-white/10 p-6 backdrop-blur-[30px] text-white/80 flex flex-col justify-between rounded-[20px]"
            >
              <p>
                Paracletworld Service Limited is a true partner in our growth journey. Their
                commitment to our success is evident in the results we've achieved together.
                Exceptional service!"
              </p>
              <p class="mt-4">- Mr Denis Akunbiyi</p>
            </div>

            <div
              class="bg-white/10 p-6 backdrop-blur-[30px] text-white/80 flex flex-col justify-between rounded-[20px]"
            >
              <p>
                From financial management to strategic planning, Paracletworld Service Limited
                offers a comprehensive suite of services. They've become an invaluable asset to our
                organization.
              </p>
              <p class="mt-4">- Mr Victor Ehenaro</p>
            </div>

            <div
              class="bg-white/10 p-6 backdrop-blur-[30px] text-white/80 flex flex-col justify-between rounded-[20px] z-20"
            >
              <p>
                Choosing Paracletworld Service Limited was one of the best decisions we made for our
                business. Their innovative solutions have given us a competitive edge in the market.
              </p>
              <p class="mt-4">- Alphajoe Global Limited</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  .mainbg {
    width: 100vw;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.2) 10% 20.1%
        )
        0 0 / 30% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.2) 10% 20.1%) 0
        0 / 30% 50% no-repeat,
      linear-gradient(rgba(5, 5, 117, 1) 0%, rgba(5, 76, 117, 1) 80%);
    z-index: -99999;
  }

  .picbg {
    background: url("/img/training2.webp") right/cover no-repeat;
    height: 60vh;
    border-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)) 50% / 50%;
    border-radius: 20px;
    border: 0.5px solid rgba(5, 76, 117, 0.1);
    padding: 1rem;
  }

  .buttonstyle {
    background: linear-gradient(white, white);
    color: rgba(5, 5, 117, 1);
    position: relative;
    transition: all 0.5s linear;
  }

  .buttonstyle:hover {
    padding: 1rem 2rem;
    transition: padding 1s ease-in-out;
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: all 0.5s linear;
  }

  .whowebg {
    width: 100vw;
    height: auto;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.15) 10% 20.1%
        )
        100% 0 / 40% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.15) 10% 20.1%)
        100% 0 / 40% 50% no-repeat,
      linear-gradient(rgba(5, 76, 117, 1) 0%, rgb(194, 176, 109) 80%);
    z-index: -999999;
  }

  .imgbg {
    background: url("/img/consultancy.jpeg") top/cover no-repeat;
    height: 50vh;
    width: 100%;
    border-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)) 50% / 50%;
    border-radius: 20px;
    border: 0.5px solid rgba(5, 76, 117, 0.1);
    padding: 1rem;
  }

  .imgbg2 {
    background: url("/img/consulting.webp") center/cover no-repeat;
    height: 50vh;
    width: 100%;
    border-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)) 50% / 50%;
    border-radius: 20px;
    border: 0.5px solid rgba(5, 76, 117, 0.1);
    padding: 1rem;
  }

  .serv1 {
    background: url("/img/IMG_7119.JPG") no-repeat;
    background-size: cover;
    background-position: center;
    height: 73vh;
    width: 50%;
    border-radius: 20px;
    position: relative;

    /* border-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)) 50% / 50%;
   */
  }

  .serv1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 8) 100%);
    border-radius: 20px;
  }

  .serv2 {
    background: url("/img/IMG_3878.PNG") left/cover no-repeat;
    height: 35vh;
    width: 100%;
    /* border-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 8)) 50% / 50%; */
    position: relative;
    border-radius: 20px;
  }

  .serv2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: 20px;
  }

  .serv3 {
    background: url("/img/mogaju aye lo.png") left/cover no-repeat;
    height: 35vh;
    width: 100%;
    /* border-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 8)) 50% / 50%; */
    border-radius: 20px;
    position: relative;
  }

  .serv3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: 20px;
  }

  .servbg {
    width: 100vw;
    height: auto;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.2) 10% 20.1%
        )
        0 0 / 40% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.2) 10% 20.1%) 0
        0 / 40% 50% no-repeat,
      linear-gradient(rgb(194, 176, 109) 0%, rgba(5, 76, 117, 1) 80%);
    z-index: -999999;
  }

  .getbg {
    width: 100vw;
    height: auto;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.15) 10% 20.1%
        )
        0 0 / 30% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.15) 10% 20.1%)
        0 0 / 30% 50% no-repeat,
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.15) 10% 20.1%
        )
        100% 100% / 30% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.15) 10% 20.1%)
        100% 100% / 30% 50% no-repeat,
      linear-gradient(rgba(5, 76, 117, 1) 0%, rgba(5, 76, 117, 1) 100%);
    z-index: -999999;
  }

  .clientbg {
    height: auto;
    background: linear-gradient(rgba(5, 76, 117, 1) 0%, rgba(5, 5, 117, 1) 100%);
    z-index: -999999;
  }

  .testibg {
    width: 100vw;
    height: auto;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.15) 10% 20.1%
        )
        0 0 / 30% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.15) 10% 20.1%)
        0 0 / 30% 50% no-repeat,
      linear-gradient(rgba(5, 5, 117, 1) 0%, rgba(5, 5, 117, 1) 100%);
    z-index: -999999;
  }

  .spanhov:hover {
    transform: scale(1.2);
    transition: transform 1s linear;
  }

  .quote {
    position: relative;
    top: 0;
  }

  .quote::before {
    content: "❝";
    position: absolute;
    top: -7.5rem;
    left: 0;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    font-size: 10rem;
    z-index:;
  }

  .quote::after {
    content: "❞";
    position: absolute;
    right: 0rem;
    bottom: -9rem;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    font-size: 10rem;
    z-index:;
  }

  @media screen and (max-width: 768px) {
    .serv1,
    .serv2,
    .serv3 {
      height: 100%;
      width: 100%;
    }

    .picbg,
    .imgbg,
    .imgbg2 {
      height: 30vh;
    }
  }
</style>

<script>
  gsap.registerPlugin(ScrollTrigger);
  const sec = document.querySelectorAll("section");
  sec.forEach((section) => {
    const tl = gsap.timeline();
    tl.from(section, {
      stagger: 1,
    });
  });
</script>
