---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Image1 from "../components/images/image 1.jpg";
import Image2 from "../components/images/image 2.jpg";
import Image3 from "../components/images/image 3.jpg";
import Image4 from "../components/images/image 4.jpg";
import { Image } from "astro:assets";
import Footer from "../components/footer.astro";
---

<Layout title="our-team">
  <main>
    <header>
      <Navbar logo={false} svgcolor="black" background={true} />
    </header>

    {/*hero section */}
    <section class="team">
      <p>Our team</p>
    </section>

    {/*Main */}
    <section class="wrapper">
      <section class="team-para">
        <p>
          This is where professionalism and aspiration meet innovation, candor
          fuels collaboration, and impossible surrenders to teamwork. We
          champion the bold to achieve the extraordinary. We are a team with a
          uniquely collaborative culture full of passionate people who care more
          about your success.
        </p>
      </section>
      <section class="profile">
        <div>
          <Image
            src={Image1}
            width={200}
            height={200}
            alt="profile pics"
            class="image1"
          />
          <span>
            <p>PAULLETT UGOCHI OGEAH</p>
            <p>Chief Executive Officer</p>
          </span>
        </div>
        <div>
          <Image
            src={Image2}
            width={200}
            height={200}
            alt="profile pics"
            class="image1"
          />
          <span>
            <p>UGOCHUKWU PAUL</p>
            <p>Branding, Marketing and Sales</p>
          </span>
        </div>
        <!-- <div>
          <Image
            src={Image3}
            width={200}
            height={200}
            alt="profile pics"
            class="image1"
          />
          <span>
            <p>OKUNADE OLUWATOBI</p>
            <p>HR / Administration</p>
          </span>
        </div> -->
        <div>
          <Image
            src={Image4}
            width={200}
            height={200}
            alt="profile pics"
            class="image1"
          />
          <span>
            <p>(MrEsegbuyota Ahweyevu, B.Sc Marketing; MBA; Member, CIBN).</p>
            <p>Financial Manager and Consultant</p>
          </span>
        </div>
      </section>
    </section>
    <Footer />
  </main>

  <style>
    .team {
      width: 80vw;
      margin: 0 auto;
      height: 30vh;
      background-image: url("../components/images/hero.jpg");
      background-position: top left;
      display: flex;
      justify-content: center;
      align-items: center;

      & p {
        font-size: 48px;
        font-weight: 700;
      }
    }

    .team-para {
      width: 100%;
      display: flex;
      justify-content: start;

      & p {
        width: 70%;
        text-align: LEFT;
        font-size: 16px;
        line-height: 1.6;
      }
    }

    .wrapper {
      margin: 60px auto;
      width: 80vw;
    }

    .profile {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 150px;
      gap: 20px;
      & div:nth-child(1) {
        padding: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

        & .image1 {
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
        }

        & p {
          margin-bottom: 0;
          margin-top: 20px;
          font-weight: 700;
        }
      }

      & div:nth-child(2) {
        padding: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

        & .image1 {
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
        }

        & p {
          margin-bottom: 0;
          margin-top: 20px;
          font-weight: 700;
        }
      }

      & div:nth-child(3) {
        padding: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

        & .image1 {
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
        }

        & p {
          margin-bottom: 0;
          margin-top: 20px;
          font-weight: 700;
        }
      }

      /* & div:nth-child(4) {
        padding: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

        & .image1 {
          border-radius: 20px;
          object-fit: cover;
          object-position: top;
        }

        & p {
          margin-bottom: 0;
          margin-top: 20px;
          font-weight: 700;
        }
      } */
    }

    @media screen and (max-width: 800px) {
      .team {
        width: 100%;
        margin: 0 auto;
      }

      .profile {
        display: flex;
        flex-flow: column;
        margin: 150px 24px;
      }

      .wrapper {
        margin: 150px auto;
        width: 100%;
      }

      .team-para {
        width: 100%;
        display: flex;

        & p {
          width: 100%;
          margin: 0 24px;
        }
      }
    }
  </style>
</Layout>
