---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import ServiceImage from "../components/images/consulting 2.png";
import { Image } from "astro:assets";
import Research from "../components/images/resh.jpeg";
import Networking from "../components/images/netwk.jpeg";
import Footer from "../components/footer.astro";
import image1 from "../components/images/max1.jpeg";
import image2 from "../components/images/max2.jpeg";
import image3 from "../components/images/max3.jpeg";
---

<Layout title="services">
  <main class="">
    <Navbar logo={false} svgcolor="black" background={true} />
    {/*hero section */}
    <section class="service-header">
      <p>Service</p>
    </section>

    <section class="wrapper">
      {/*what we do */}
      <section>
        <div class="whatwedo-title">
          <h3>What we do</h3>
        </div>

        <div class="whatwedo-para">
          <div>
            <p>
              Our management services focus on our client's most critical issues
              and opportunities: strategy, marketing, organization, operations,
              technology, transformation, research, digital, advanced analytics,
              mergers& acquisitions, and sustainability across all industries
              and geographies. <br /><br />We bring deep, functional expertise,
              and capture value across boundaries and between the silos of any
              organization. We provide the initial foundational training(s) for
              new businesses to launch their first team(s). Once you have
              developed some foundational capabilities, we will show you how to
              scale dozens, hundreds, and thousands of teams, creating a truly
              outstanding enterprise. We provide unmatched training and support;
              instilling capabilities and expertise across your teams, and
              throughout your company to ensure that your organization continues
              to reap sustainable benefits of long-term goal(s). <br /><br />We
              provide the necessary technical skills to improve, and maintain,
              your financial performance; your dire need to reinvent your
              business ahead of the inevitable competition with comprehensive
              transformation programs. <br /><br />We provide new expertise,
              tools, and materials that businesses need to align their
              leadership on a shared vision of what the future could be as well
              as mobilize the organization to achieve it accordingly. We drive
              change through the organization's front lines with innovative
              solutions, rapid scaling, and the skill-building required to
              sustain your success to full potential transformation. <br /><br
              />We are uniquely positioned to provide the broad capabilities and
              expertise required to make this happen by guiding your
              organization's functional efforts to ensure sustained, superior
              performance.
            </p>
          </div>
          <div class="imagedrops">
            <Image
              src={image1}
              width={300}
              height={300}
              alt="illustration"
              style={{ objectFit: "cover" }}
            />
            <Image
              src={image2}
              width={300}
              height={300}
              alt="illustration"
              style={{ objectFit: "cover" }}
            />
            <Image
              src={image3}
              width={300}
              height={300}
              alt="illustration"
              style={{ objectFit: "cover" }}
            />
          </div>
        </div>
      </section>

      {/*Services */}
      <section>
        {/*Business development */}
        <div class="businessdev" id="business">
          <div class="biztab">
            <p>Business Development</p>
          </div>
          <div class="accordian-tab">
            <div>
              <details class="accordian">
                <summary class="accordianTitle">Proposal Drafting</summary>

                 Paracletworld has an outstanding track record of experienced proposal
                consultants' delivery for firms. We understand that one-size-fits-all
                solutions are only myths, which is why we are intentionally flexible
                - to fulfill any, and all your needs. We provide full-service business
                proposal writing support to meet your needs and offers. Business
                proposal writing help for a single RFP/RFI response or end-to-end
                proposal outsourcing for all procurements.
              </details>

              <details class="accordian">
                <summary class="accordianTitle">
                  Customer Satisfaction And Marketing
                </summary>

                 Our professional marketing staff will take your business from sales
                plateaus by pivoting your business to new or additional audiences.
                We deliver insight and impact quicker than ever. Our solutions leverage
                advanced technology, and proprietary data with deep expertise to
                help clients in new, exciting ways of reaching out and getting the
                right audiences leveraging on customer satisfaction strategy.
              </details>

              <details class="accordian">
                <summary class="accordianTitle"
                  >Training and Development</summary
                >

                 We provide bespoke, pragmatic, and tailor-made training workshops
                for both individuals and organizations(private and public sectors),
                towards the enhancement of capabilities, and provision of up-to-date
                information on job functions and responsibilities to enhance productivity.
                We understand that every service, business, or function is different
                and so are its needs with challenges. Hence we deploy a systematic
                approach with a detailed understanding of the need of clients; and
                proffer customized training to meet and exceed the needs. We offer
                onsite, in-House, online, and classroom styled training services.
              </details>
            </div>

            <div>
              <details class="accordian">
                <summary class="accordianTitle">Operations</summary>

                 At Paracletworld, we work with companies like yours to craft business
                profiles and excavate true business purposes. We unleash the power
                of organizational purpose to transform productivity and profitability
                for clients. We also help to fully activate and embed that purpose
                throughout your organization. We provide support for business formation
                and regulation., and develop policies to guide organizations and
                management on best practices.
              </details>

              <details class="accordian">
                <summary class="accordianTitle">
                  Sourcing Procurement and Branding
                </summary>

                 We have a team of well-seasoned professionals with both national
                and international work experience, with a track record of achievements
                in procurements and a commitment to deliver. We work closely with
                your team to identify and realize savings across all spending categories,
                procurement levers and packaging development. We build your organizational
                capabilities to enable you to sustain those gains over the long term.
              </details>

              <details class="accordian">
                <summary class="accordianTitle"
                  >Human Resource Outsourcing</summary
                >

                 Human Resource Outsourcing is a powerful tool that can help you
                grow your business. Outsourcing even a portion of your company's
                Human resource duties can result in considerable cost reduction and
                add hours of productive time to your week. We engage the hearts and
                minds of people and teams to deliver superior performance for our
                clients for the success of the company. These candidates are selected
                using our stringent methodologies, from headhunting executive to
                bulk recruitment and this ensures that only the most suitable candidates
                are found, attracted, assessed, and selected by our client.
              </details>
            </div>
          </div>
        </div>

        <div class="ngo" id="ngo">
          <div>
            <p>NGO Consulting</p>
          </div>

          <div>
            <h3>Program Development, Implementation and Evaluation</h3>
            <p>
              We are committed to designing and implementing programs to create
              long-lasting, meaningful change. We strive to include experts from
              a variety of backgrounds to gain many different perspectives on
              appropriate intervention content, design and approaches to produce
              a high-quality product. We use multiple interventions, such as
              combining program and policy interventions, for single issues. We
              understand that the use of an intervention that addresses multiple
              issues at the same time is more effective. We also value measuring
              and learning from our programming's results and effectiveness;
              this allows us to apply insights drawn from one project to another
              to influence our staff, program participants, local stakeholders,
              and the broader development community and policymakers through our
              thought leadership.
            </p>
          </div>
        </div>

        <div class="research" id="research">
          <div class="research-para">
            <p>Research</p>
            <p>
              Our approaches on every project are with the rigor and dedication
              needed to deliver the highest quality of results. We work on
              issues of high importance with far-reaching implications; we make
              certain that our insights are based on rigorous research and
              analysis of evidence. This research may include, but not be
              limited to policies, education and academics, Health care service
              and delivery, rehabilitation, and legal processes.
            </p>
          </div>
          <div class="research-img">
            <Image
              src={Research}
              width={500}
              height={300}
              alt="illustration"
              style={{ objectFit: "cover" }}
            />
          </div>
        </div>

        <div class="networking" id="networking">
          <div class="research-img">
            <Image
              src={Networking}
              width={500}
              height={300}
              alt="illustration"
              style={{ objectFit: "cover" }}
            />
          </div>
          <div>
            <p>Networking</p>
            <p>
              There&apos;s an old saying that goes “it&apos;s not what you know,
              it&apos;s who you know.” That saying couldn&apos;t be truer, so
              you need to get out there and start networking and making
              connections. We seek out people and clients who defy the
              perception of their limits, those with the ambition to lead and
              the courage to adapt. We work on several projects at different
              companies, single- and multi-client settings, often leveraging on
              our exclusive partnership to build relationships, and obtain and
              give referrals with built reputation; the potential impact on your
              business is directly proportionate to the number of professional
              network contacts you have.
            </p>
          </div>
        </div>
      </section>
    </section>
    <Footer />
  </main>

  <style>
    .wrapper {
      width: 80vw;
      margin: 150px auto;
    }

    .whatwedo-title {
      margin-top: 150px;
      & h3 {
        font-size: 36px;
        color: darkblue;
        font-weight: 700;

        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .whatwedo-para {
      display: flex;
      gap: 40px;
      margin-top: 40px;

      & div:nth-child(1) {
        width: 50%;
        line-height: 1.6;
        text-align: justify;
      }

      & div:nth-child(2) {
        display: flex;
        flex-flow: column;
        justify-content: end;
        position: relative;

        & img {
          border-radius: 20px;
          position: absolute;
        }

        & img:nth-child(1) {
          top: 0;
          left: 100px;
          outline: 10px solid white;
        }

        & img:nth-child(2) {
          top: 240px;
          left: 200px;
          outline: 10px solid white;
        }

        & img:nth-child(3) {
          bottom: 0;
          left: 100px;
          outline: 10px solid white;
        }
      }
    }

    .businessdev {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      margin-top: 150px;
    }

    .biztab {
      width: 100%;
      & p {
        font-size: 36px;
        color: darkblue;
        font-weight: 700;
        width: 100%;
        margin-top: 0;
      }
    }

    .service-header {
      width: 80vw;
      margin: 0 auto;
      height: 30vh;
      background-image: url("../components/images/hero.jpg");
      background-position: bottom;
      display: flex;
      justify-content: center;
      align-items: center;

      & p {
        font-size: 48px;

        font-weight: 700;
      }
    }

    .accordianTitle {
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    .accordian-tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 40px;

      & div {
        width: 50%;
      }
    }

    .accordian {
      border: 2px solid #ccc;
      border-radius: 20px;
      margin-bottom: 20px;
      position: relative;
      background-color: #eee;
      padding: 20px;
      display: flex;
      align-items: center;
    }

    details:not(summary) {
      color: grey;
    }

    /* Remove default marker styles */
    details > summary {
      list-style: none;
    }
    details > summary::-webkit-details-marker {
      display: none;
    }

    /* Remove default marker styles */
    details summary::marker {
      display: none;
    }

    details summary {
      padding-left: 30px;
      position: relative;
      cursor: pointer;
      user-select: none;
      font-weight: 700;
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 2;
    }

    /* Arrow icon when collapsed */
    details summary::before {
      content: "＋";
      position: absolute;
      left: 0px;
      font-size: 20px;
    }

    /* Arrow icon when expanded */
    details[open] summary::before {
      content: "−";
      padding-left: 3px;
      font-size: 20px;
    }

    .ngo {
      margin-top: 150px;
      display: flex;
      background-image: url("../components/images/hero.jpg");
      background-position: center;
      opacity: 0.8;
      border-radius: 20px;
      padding: 40px;
      color: white;
      position: relative;

      & div:nth-child(2) {
        width: 50%;
        margin-top: 0;
        position: relative;
        line-height: 1.5;
      }

      & div:nth-child(1) {
        width: 50%;
        margin-top: 0;

        & p {
          font-size: 40px;

          font-weight: 700;
          width: 50%;
          margin-top: 0;
          position: relative;
          border: 1px solid white;
          width: 70%;
          height: 100%;
          display: flex;
          padding: 0 20px;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .ngo::before {
      content: "";
      position: absolute;
      background: linear-gradient(darkblue, darkblue);
      width: 100%;
      height: 100%;
      border-radius: 20px;
      top: 0;
      left: 0;
      z-index:;
    }

    .research {
      display: flex;
      margin-top: 150px;
      gap: 60px;

      & img {
        border-radius: 20px;
      }

      & div:nth-child(1) {
        width: 50%;
      }

      & div:nth-child(2) {
        width: 50%;
        display: flex;
        justify-content: end;
      }

      & p:nth-child(1) {
        font-size: 36px;
        color: darkblue;
        font-weight: 700;
        margin-top: 0;
      }

      & p:nth-child(2) {
        margin-top: 0;
        line-height: 1.5;
      }
    }

    .networking {
      display: flex;
      margin-top: 150px;
      gap: 60px;
      justify-content: center;
      align-items: center;

      & img {
        border-radius: 20px;
      }

      & div:nth-child(1) {
        width: 50%;
      }

      & div:nth-child(2) {
        width: 50%;
      }

      & p:nth-child(1) {
        font-size: 36px;
        color: darkblue;
        font-weight: 700;

        margin-top: 0;
      }

      & p:nth-child(2) {
        margin-top: 0;
        line-height: 1.5;
      }
    }

    @media screen and (max-width: 800px) {
      .wrapper {
        width: 100%;
        margin: 0px;
      }

      .whatwedo-title {
        margin: 150px 24px 0 24px;
        & h3 {
          font-size: 48px;
          font-weight: 500;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .whatwedo-para {
        display: flex;
        flex-flow: column;
        gap: 40px;
        margin: 60px 24px;

        & div:nth-child(1) {
          width: 100%;
          line-height: 1.6;
          text-align: justify;
        }
        & div:nth-child(2) {
          display: flex;
          overflow: hidden;
          justify-content: end;
          position: static;

          & img {
            border-radius: 20px;
            position: static;
          }

          & img:nth-child(1) {
            width: 100%;
            height: 100%;
            outline: 10px solid white;
          }

          & img:nth-child(2) {
            display: none;
          }

          & img:nth-child(3) {
            display: none;
          }
        }
      }

      .businessdev {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: 150px 24px;
      }

      .biztab {
        width: 100%;
        & p {
          font-size: 48px;
          width: 100%;
          margin-top: 0;
        }
      }

      .accordian-tab {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 0;

        & div {
          width: 100%;
        }
      }

      details summary {
        font-size: 14px;
      }

      .accordianTitle {
        font-size: 14px;
      }

      .research {
        display: flex;
        flex-flow: column;
        margin: 150px 24px;
        gap: 60px;

        & div:nth-child(1) {
          width: 100%;
        }

        & div:nth-child(2) {
          width: 100%;
          display: flex;
          overflow: hidden;
          justify-content: end;
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .networking {
        display: flex;
        flex-flow: column;
        margin: 150px 24px;
        gap: 60px;

        & div:nth-child(1) {
          width: 100%;
          display: flex;
          overflow: hidden;
          order: 2;

          & img {
            width: 100%;
            height: 100%;
          }
        }

        & div:nth-child(2) {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: end;
        }
      }

      .ngo {
        margin-top: 150px;
        display: flex;
        flex-flow: column;
        background: linear-gradient(#2424b5, #000052);
        border-radius: 20px;
        padding: 40px;
        color: white;

        & div:nth-child(2) {
          width: 100%;
          margin-top: 0;
        }

        & div:nth-child(1) {
          width: 100%;
          margin-top: 0;

          & p {
            border: none;
          }
        }
      }

      .service-header {
        width: 100%;
        margin: 0 auto;
      }

      .accordian {
        border: 2px solid #ccc;
        border-radius: 20px;
        margin-bottom: 20px;
        background-color: #eee;

        display: flex;
        align-items: center;
      }
    }
  </style>
</Layout>
